body {
  font-family: "roboto";
}

.container {
  width: 100%;
  margin: auto;
}

.box-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0;
  grid-auto-rows: minmax(100px, auto);
}

.title {
  text-align: center;
  align-items: center;
  font-size: 16pt;
  border: 1px;
  border-style: solid;
  grid-column: 1 / span end;
  grid-row: 1;
}

.menu {
  border: 1px;
  border-style: solid;
  grid-column: 1 / 1;
  grid-row: 2 / 10;
}

.menu-title,
.info-data {
  margin-left: 20px;
}

.info {
  border: 1px;
  border-style: solid;
  grid-column: 6 / span end;
  grid-row: 2 / 10;
}

.body-content {
  border: 1px;
  border-style: solid;
  grid-column: 2 / 6;
  grid-row: 2 / 10;
  text-align: center;
}

.body-title {
  width: 70%;
  margin: auto;
  font-size: 50pt;
  text-align: justify;
}

.body-title-content {
  margin-top: 25px;
}

.img {
  position: relative;
  width: 70%;
  height: 400px;
  margin: auto;
  background-image: url(../img/gaming.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  box-shadow: 10px 10px 20px 3px grey;
}

.txt-content {
  margin: auto;
  width: 70%;
}

.txt {
  margin-top: 50px;
  text-align: justify;
  font-size: 18pt;
}

.txt2 {
  margin-top: 5px;
}

.footer {
  border: 1px;
  border-style: solid;
  grid-column: 1 / span end;
  grid-row: 10;
}

.txt-footer {
  margin-top: 35px;
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
  align-items: center;
}
